{% extends 'dash/dashbase.html' %}
{% load staticfiles %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/dashboard/timeline.css' %}" />
{% endblock styles %}

{% block content %}
<div class="page-header">
    <h1>Timeline & Event <small> Penerimaan beasiswa tahun 2017</small></h1>
    <h4><small class="text-muted"><i class="glyphicon glyphicon-retweet"></i> &nbsp; Update Terakhir Halaman Ini &nbsp; : &nbsp; {{obj.updated}}</small></h4>
</div>

<div class="container-fluid">
    <ul class="timeline">

        <li>
          <div class="timeline-badge"><i class="fa fa-clock-o"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">{{obj.j_pendaftaran}}</h4>
              <h4><small class="text-muted"><i class="glyphicon glyphicon-time"></i> <b>&nbsp;{{obj.t_pendaftaran}}</b></small></h4>
            </div>
            <div class="timeline-body">
              <p>&nbsp;&nbsp;&nbsp;&nbsp;{{obj.c_pendaftaran}}</p>
            </div>
          </div>
        </li>

        <li class="timeline-inverted">
          <div class="timeline-badge warning"><i class="glyphicon glyphicon-eye-open"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">{{obj.j_review}}</h4>
              <h4><small class="text-muted"><i class="glyphicon glyphicon-time"></i> <b>&nbsp;{{obj.t_review}}</b></small></h4>
            </div>
            <div class="timeline-body">
              <p>{{obj.c_review}}</p>
            </div>
          </div>
        </li>

        <li>
          <div class="timeline-badge danger"><i class="glyphicon glyphicon-hourglass"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">{{obj.j_seleksi}}</h4>
              <h4><small class="text-muted"><i class="glyphicon glyphicon-time"></i> <b>&nbsp;{{obj.t_seleksi}}</b></small></h4>
            </div>
            <div class="timeline-body">
              <p>{{obj.c_seleksi}}.</p>
            </div>
          </div>
        </li>


        <li class="timeline-inverted">
          <div class="timeline-badge info"><i class="glyphicon glyphicon-saved"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">{{obj.j_pengumuman}}</h4>
              <h4><small class="text-muted"><i class="glyphicon glyphicon-time"></i> <b>&nbsp;{{obj.t_pengumuman}}</b></small></h4>
            </div>
            <div class="timeline-body">
              <p>{{obj.c_pengumuman}}</p>
              <hr>
                <a type="button" href="{% url 'dashboard:adm_pengumuman' %}" class="btn btn-primary btn-sm btn-info"><i class="glyphicon glyphicon-eye-open"> </i>&nbsp; Lihat Pengumuman</a>

            </div>
          </div>
        </li>

        <li>
          <div class="timeline-badge success"><i class="glyphicon glyphicon-education"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">{{obj.j_penerimaan}}</h4>
            <h4><small class="text-muted"><i class="glyphicon glyphicon-time"></i> <b>&nbsp;{{obj.t_penerimaan}}</b></small></h4>
            </div>
            <div class="timeline-body">
              <p>{{obj.c_penerimaan}}</p>
            </div>
          </div>
        </li>
    </ul>
</div>


{% endblock %}
