{% extends 'dash/dashbase.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}


{% block styles %}
{% endblock styles %}

{% block content %}

<div class="page-header">
    <h1>Kotak Pesan <small>Baca,Tulis dan Kirim Pesan.</small></h1>
</div>

<div class="container-fluid">
	<div class="row">
    <div class="box-body no-padding">
                  <div class="mailbox-controls">
                    <!-- Check all button -->
                    <button class="btn btn-success btn-sm" data-toggle="modal" data-target="#pesan-modal"><i class="glyphicon glyphicon-pencil"></i> &nbsp; Tulis Pesan</button>
                    <div class="btn-group">
                    </div><!-- /.btn-group -->
                    <a href="{% url 'dashboard:pesan' %} " class="btn btn-default btn-sm"><i class="glyphicon glyphicon-refresh"></i></a>
                    <div class="pull-right">

                        <form class="form-inline" method="GET">
                            <div class="form-group">
                                <input type="text" id="kunci" name="kunci" class="form-control input-sm" maxlength="30" placeholder="Masukkan Kunci" />
                                <button type="submit" class="btn btn-default btn-sm">Cari</button>
                            </div>
                        </form>
                    </div>
                  </div>
                  <hr>
                  <div class="table-responsive mailbox-messages">
                    <table class="table table-hover table-striped">
                      <thead>
                          <tr>
                              <th>Nama Pengirim</th><th>Status</th><th>Subjek</th><th>Sekilas Isi</th><th>Waktu Terima</th>
                              <!-- <th>Program Studi</th><th>Opsi</th> -->
                          </tr>
                      </thead>
                      <tbody>
                        <tr>
                  {% for obj in instance %}
                          <td class="mailbox-name"><a href="{% url 'dashboard:baca_pesan' id=obj.id %}">Admin Beafuzzy</a></td>
                          {% if obj.dibaca %}
                          <td><p><span class="label label-success">Terbaca</span></p></td>
                          {% else %}
                          <td><p><span class="label label-danger">Belum Terbaca</span></p></td>
                          {% endif %}
                          <td class="mailbox-subject">{{obj.subjek}}</td>
                          <td><p>{{obj.content|truncatechars:15}}</p></td>
                          <td class="mailbox-date"><b>{{obj.timestamp}}</b></td>
                        </tr>
                  {% endfor %}

                      </tbody>
                    </table><!-- /.table -->
                  </div><!-- /.mail-box-messages -->
      </div><!-- /.box-body -->

                <div class="modal fade" id="pesan-modal" tabindex="-1" role="dialog" aria-labelledby="modalPesan" aria-hidden="true" style="display: none;">
                    <div class="modal-dialog">
                    <div class="loginmodal-container">
                      <h1>Tulis Pesan</h1><br>
                      <form method='POST' action=''>
                        {% csrf_token %}
                        {{formPesan|crispy}}
                      <input type="submit" name="login" class="login loginmodal-submit" value="Kirim Pesan">
                      </form>

                      <div class="login-help">
                      <a href="#">Register</a> - <a href="#">Forgot Password</a>
                      </div>
                    </div>
                  </div>
                  </div>

                <hr>
                <div class="box-footer no-padding">
                  <center><p> 2016 Beafuzzy by Muh Fikri Khaidir </p></center>
                </div>
              </div><!-- /. box -->
            </div><!-- /.col -->
          </div><!-- /.row -->
	</div>
</div>

{% endblock content %}
