{% extends 'dash/dashbase.html' %} {% load staticfiles %} {% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/dashboard/navBtn.css' %}" /> {% endblock styles %} {% block content %}

<div class="page-header">
    <h1>Berita & Pengumuman <small>Segala Pemberitaan Mengenai Beasiswa</small></h1>
</div>

<div class="container-fluid" id="containerPills">
    <div class="col-md-12">
        <div class="mailbox-controls">
            {% if user.is_superuser %}
            <a class="btn btn-success btn-sm" href="{% url 'dashboard:adm_berita' %}">
                <i class="fa fa-plus fa-lg"></i> &nbsp;Tambah Berita</a>
                {% endif %}

            <div class="pull-right">

                <form class="form-inline" method="GET">
                    <div class="form-group">
                        <input type="text" id="kunci" name="kunci" class="form-control input-sm" maxlength="30" placeholder="Masukkan Kunci" />
                        <button type="submit" class="btn btn-default btn-sm">Cari</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /.btn-group -->
</div>
<!-- /.pull-right -->
</div>
</div>

{%for obj in instance%}


<div class="col-md-12">
    <div class="container-fluid">

        <div class="panel panel-info">
            <div class="panel-body">
                <h2><a href="{% url 'dashboard:detail_berita' id=obj.id %}">{{obj.judul|truncatechars:50}}</a></h2>
                <div class="divider"></div>
                <p>
                    &nbsp;&nbsp;&nbsp;&nbsp;{{obj.content|truncatechars:250}}
                </p>
            </div>
            <div class="container-fluid">
                <div class="container-fluid panel-footer"> {{obj.timestamp}}
                    <div class="pull-right">
                        <span id='btn-berit' <button class="btn btn-info" type="button">Baca</button></span>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>

{% endfor %} {% endblock %}
