{% extends 'dash/dashbase.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/dashboard/timeline.css' %}" />
{% endblock styles %}

{% block content %}
<div class="page-header">
    <h1>Timeline & Event <small> Penerimaan beasiswa tahun 2017</small></h1>
    <h4><small class="text-muted"><i class="glyphicon glyphicon-retweet"></i> &nbsp; Update Terakhir Halaman Ini &nbsp; : &nbsp; {{obj.updated}}</small></h4>
</div>

<div class="container-fluid">
    <ul class="timeline">

        <li>
          <div class="timeline-badge"><i class="fa fa-clock-o"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">{{obj.j_pendaftaran}}</h4>
              <h4><small class="text-muted"><i class="glyphicon glyphicon-time"></i> <b>&nbsp;{{obj.t_pendaftaran}}</b></small></h4>
            </div>
            <div class="timeline-body">
              <p>&nbsp;&nbsp;&nbsp;&nbsp;{{obj.c_pendaftaran}}</p>
              {% if user.is_superuser %}
              <br /><button class="btn btn-success btn-sm" data-toggle="modal" data-target="#modalPendaftaran"><i class="glyphicon glyphicon-pencil"></i> &nbsp; Ubah</button>
              {% endif %}
            </div>
          </div>
        </li>

        <li class="timeline-inverted">
          <div class="timeline-badge warning"><i class="glyphicon glyphicon-eye-open"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">{{obj.j_review}}</h4>
              <h4><small class="text-muted"><i class="glyphicon glyphicon-time"></i> <b>&nbsp;{{obj.t_review}}</b></small></h4>
            </div>
            <div class="timeline-body">
              <p>{{obj.c_review}}</p>
              {% if user.is_superuser %}
              <br /><button class="btn btn-success btn-sm" data-toggle="modal" data-target="#modalReview"><i class="glyphicon glyphicon-pencil"></i> &nbsp; Ubah</button>
              {% endif %}
            </div>
          </div>
        </li>

        <li>
          <div class="timeline-badge danger"><i class="glyphicon glyphicon-hourglass"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">{{obj.j_seleksi}}</h4>
              <h4><small class="text-muted"><i class="glyphicon glyphicon-time"></i> <b>&nbsp;{{obj.t_seleksi}}</b></small></h4>
            </div>
            <div class="timeline-body">
              <p>{{obj.c_seleksi}}.</p>
              {% if user.is_superuser %}
              <br /><button class="btn btn-success btn-sm" data-toggle="modal" data-target="#modalSeleksi"><i class="glyphicon glyphicon-pencil"></i> &nbsp; Ubah</button>
              {% endif %}
            </div>
          </div>
        </li>


        <li class="timeline-inverted">
          <div class="timeline-badge info"><i class="glyphicon glyphicon-saved"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">{{obj.j_pengumuman}}</h4>
              <h4><small class="text-muted"><i class="glyphicon glyphicon-time"></i> <b>&nbsp;{{obj.t_pengumuman}}</b></small></h4>
            </div>
            <div class="timeline-body">
              <p>{{obj.c_pengumuman}}</p>
              {% if user.is_superuser %}
              <br /><button class="btn btn-success btn-sm" data-toggle="modal" data-target="#modalPengumuman"><i class="glyphicon glyphicon-pencil"></i> &nbsp; Ubah</button>
              {% endif %}
              <hr>
                <a type="button" href="{% url 'dashboard:adm_pengumuman' %}" class="btn btn-primary btn-sm btn-info"><i class="glyphicon glyphicon-eye-open"> </i>&nbsp; Lihat Pengumuman</a>

            </div>
          </div>
        </li>

        <li>
          <div class="timeline-badge success"><i class="glyphicon glyphicon-education"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">{{obj.j_penerimaan}}</h4>
            <h4><small class="text-muted"><i class="glyphicon glyphicon-time"></i> <b>&nbsp;{{obj.t_penerimaan}}</b></small></h4>
            </div>
            <div class="timeline-body">
              <p>{{obj.c_penerimaan}}</p>
              {% if user.is_superuser %}
              <br /><button class="btn btn-success btn-sm" data-toggle="modal" data-target="#modalPenerimaan"><i class="glyphicon glyphicon-pencil"></i> &nbsp; Ubah</button>
              {% endif %}
            </div>
          </div>
        </li>
    </ul>
</div>
{% if user.is_superuser %}

<div class="modal fade" id="modalPendaftaran" tabindex="-1" role="dialog" aria-labelledby="modalPendaftaran" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
    <div class="loginmodal-container">
      <h1>Ubah Data</h1><br>
      <form method='POST' action=''>
        {% csrf_token %}
        {{formPendaftaran|crispy}}
      <input type="submit" name="login" class="login loginmodal-submit" value="Simpan">
      </form>
    </div>
  </div>
  </div>

  <div class="modal fade" id="modalReview" tabindex="-1" role="dialog" aria-labelledby="modalReview" aria-hidden="true" style="display: none;">
      <div class="modal-dialog">
      <div class="loginmodal-container">
        <h1>Ubah Data</h1><br>
        <form method='POST' action=''>
          {% csrf_token %}
          {{formReview|crispy}}
        <input type="submit" name="login" class="login loginmodal-submit" value="Simpan">
        </form>

      </div>
    </div>
    </div>

  <div class="modal fade" id="modalSeleksi" tabindex="-1" role="dialog" aria-labelledby="modalSeleksi" aria-hidden="true" style="display: none;">
      <div class="modal-dialog">
      <div class="loginmodal-container">
        <h1>Ubah Data</h1><br>
        <form method='POST' action=''>
          {% csrf_token %}
          {{formSeleksi|crispy}}
        <input type="submit" name="login" class="login loginmodal-submit" value="Simpan">
        </form>

      </div>
    </div>
    </div>

  <div class="modal fade" id="modalPengumuman" tabindex="-1" role="dialog" aria-labelledby="modalPengumuman" aria-hidden="true" style="display: none;">
      <div class="modal-dialog">
      <div class="loginmodal-container">
        <h1>Ubah Data</h1><br>
        <form method='POST' action=''>
          {% csrf_token %}
          {{formPengumuman|crispy}}
        <input type="submit" name="login" class="login loginmodal-submit" value="Simpan">
        </form>

      </div>
    </div>
    </div>
  <div class="modal fade" id="modalPenerimaan" tabindex="-1" role="dialog" aria-labelledby="modalPenerimaan" aria-hidden="true" style="display: none;">
      <div class="modal-dialog">
      <div class="loginmodal-container">
        <h1>Ubah Data</h1><br>
        <form method='POST' action=''>
          {% csrf_token %}
          {{formPenerimaan|crispy}}
        <input type="submit" name="login" class="login loginmodal-submit" value="Simpan">
        </form>

      </div>
    </div>
    </div>
{% endif %}
{% endblock %}
