{% extends 'dash/dashbase.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block content %}
<div class="page-header">
    <h1>Ubah Password <small></small></h1>
</div>
<div class="container-fluid">
    <div class="row">
        <!-- Card Projects -->


        <div class="col-md-1 col-xs-0">
        </div>
        <div class="col-md-10 col-xs-12">
            <!-- <h3>Pastikan setiap F.A.Q. memiliki maksud dan instruksi yang jelas dan efisien.</h3> -->
            <br /><br />
            <form method='POST' enctype="multipart/form-data" action=''>
              {% csrf_token %}
              {{form|crispy}}
                  <button type="submit" class="btn btn-success">Simpan</Button>
            </form>
            <div class="col-md-1 col-xs-0">
            </div>
      </div>

    </div>
</div>

{% endblock %}
