{% extends 'dash/dashbase.html' %}
{% load staticfiles %}

{% block content %}

<div class="page-header">
    <h1>Pendaftar Beasiswa <small>Daftar Lengkap Pelamar Beasiswa</small></h1>
</div>


<div class="row">

        <div class="container-fluid" id ="containerPills">
          <div class="row">
            <div class="col-md-12">
              <div class="mailbox-controls">

                  <div class="pull-right">

                      <form class="form-inline" method="GET">
                          <div class="form-group">
                              <a href="{% url 'dashboard:listPendaftar' %} " class="btn btn-default btn-sm"><i class="glyphicon glyphicon-refresh"></i> &nbsp; Refresh</a>
                              <input type="text" id="kunci" name="kunci" class="form-control input-sm" maxlength="30" placeholder="Masukkan Kunci" />
                              <button type="submit" class="btn btn-default btn-sm">Cari</button>
                          </div>
                      </form>
                  </div>
              </div>
              </div>
            </div>
        </div>
        <div class="container-fluid" id="containerPills">
            <div class="row">
                <div class="col-md-12">

                    <div class="mailbox-controls">
                        <div class="pull-right">
                            <form class="form-inline" method='POST' action="">

                                {% csrf_token %}
                                <select name="prodi" class="form-control input-sm">

                              <option>Teknik Mesin</option>
                              <option>Teknik Arsitektur</option>
                              <option>Teknik Sipil</option>
                              <option>Teknik Kimia</option>
                              <option>Teknik Industri</option>
                              <option>Teknik Elektro</option>
                            </select>

                                <select name="fakultas" class="form-control input-sm">

                              <option>Teknik</option>
                              <option>Komunikasi dan Informatika</option>
                                </select>

                                <!-- <select name="tahun" class="form-control input-sm">
                              <option>2016</option>
                              <option>2017</option>
                            </select> -->
                                <input class="btn btn-info btn-sm" type="submit" value="Tampilkan">

                            </form>

                        </div>
                    </div>
                </div>
            </div>

        </div>

<br />
        <div class="table-responsive col-md-12">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>No.</th><th>Nama Lengkap</th><th>Fakultas</th><th>Status</th>
                        <th>Program Studi</th><th>Opsi</th>
                    </tr>
                </thead>
                <tbody>
                    {% for obj in instance %}
                    <tr>
                        <td><p>{{ forloop.counter }}</p></td>
                        <td><p>{{obj.nama}}</p></td>
                        <td><p>{{ obj.fakultas }}</p></p></td>
                        {% if obj.valid %}
                        <td><p><span class="label label-success">Valid</span></p></td>
                        {% else %}
                        <td><p><span class="label label-danger">Invalid</span></p></td>
                        {% endif %}
                        <td><p>{{ obj.prodi }}</p></td>
                        <td class="col-md-2"><p>

                          <a class="btn btn-success" href="{% url 'dashboard:adm_profile_detail' id=obj.id %}"><i class="fa fa-check-square-o fa-lg"></i> &nbsp;Tinjau &nbsp;&nbsp;&nbsp;&nbsp;</a>
                          {% if user.is_superuser %}
                          <br />
                          <!-- <a class="btn btn-info btn-sm" href="{% url 'dashboard:adm_invalidasi' id=obj.id  %}" id="btnPengumuman" ><i class="fa fa-times fa-lg"></i>&nbsp;Invalidasi&nbsp;&nbsp;&nbsp;&nbsp;</a> -->
                          {% endif %}
                        </p></td>
                    </tr>
                    {% endfor %}


                </tbody>
            </table>
        </div>
        <!-- <div class="col-md-1">

      </div> -->
        <!-- <div class="pull-right">
            <ul class="pagination">
                <li><a href="#">«</a></li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">»</a></li>
            </ul>
        </div> -->
	</div>

{% endblock %}
