{% extends 'dash/dashbase.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block content %}
<div class="page-header">
    <h1>Profil Saya <small>Data Pribadi dan Kelengkapan Syarat</small></h1>
</div>

<div class="container-fluid">

    <div class="row">
      <div class="col-lg-1 col-md-1">
      </div>
      <div class="col-lg-10 col-md-10">
      {% if status %}
        <div class="panel panel-info">
              <div class="panel-heading">
                <h3 class="panel-title">{{dataUser.nama}}</h3>
              </div>
              <div class="panel-body">
                <div class="row">
                  <div class="col-md-3 col-lg-3 " align="center">
                  <img class="img-responsive" alt="User Pic" src="{{dataUser.avatar.url}} "> </div>

                  <div class=" col-md-9 col-lg-9 ">
                    <table class="table table-user-information">
                      <tbody>
                        <tr>
                          <td>Fakultas:</td>
                          <td>{{dataUser.fakultas}}</td>
                        </tr>
                        <tr>
                          <td>Jabatan:</td>
                          <td>{{dataUser.jabatan}}</td>
                        </tr>
                        <tr>
                          <td>Program Studi:</td>
                          <td>{{dataUser.prodi}}</td>
                        </tr>
                        <tr>
                          <td>NIK :</td>
                          <td>{{dataUser.nik}}</td>
                        </tr>

                           <tr>
                               <tr>
                          <td>Tanggal Lahir :</td>
                          <td>{{dataUser.TanggalLahir}}</td>
                        </tr>
                          <tr>
                            <td>Alamat :</td>
                            <td>{{dataUser.alamat}}</td>
                          </tr>
                        <tr>
                          <td>Email :</td>
                          <td><a href="mailto:info@support.com">{{akun.email}}</a></td>
                        </tr>
                        </tr>

                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
                   <!-- <div class="panel-footer">
                     <a href='' type="button" class="btn btn-sm btn-primary"><i class="fa fa-user"></i>&nbsp; &nbsp; Unggah Avatar</a>
                     <span class="pull-right">
                         <a href="edit.html" data-original-title="Edit this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-warning"><i class="fa fa-pencil-square-o"></i>&nbsp; &nbsp; Edit</a>
                         <a data-original-title="Remove this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-danger"><i class="fa fa-trash-o"></i>&nbsp; Delete</a>
                          </span>
                      </div> -->

            </div>

      {% else %}
      <form method='POST' enctype="multipart/form-data" action=''>
      {% csrf_token %}
      {{form|crispy}}
      <input type="submit" class="btn btn-success" value="Submit">
      {% endif %}
      </div>
      <div class="col-lg-1 col-md-1">
      </div>

    </div>



</div>

{% endblock %}
