{% extends 'dash/dashbase.html' %}

{% block content %}


<div class="page-header">
    <h1>Profil {{namaPanggilan}} <!--<small>Data Pribadi dan Kelengkapan Syarat</small>--></h1>
</div>
<div class="container-fluid">

    <div class="row">
      <div class="col-lg-1 col-md-1">
      </div>
      <div class="col-lg-10 col-md-10">
        <div class="panel panel-info">
              <div class="panel-heading">
                <h3 class="panel-title">{{ instance.nama }}</h3>
              </div>
              <div class="panel-body">
                <div class="row">
                  <div class="col-md-3 col-lg-3 " align="center"> <img alt="User Pic" src="{{instance.avatar.url}}" class="img-circle img-responsive"> </div>

                  <div class=" col-md-9 col-lg-9 ">
                    <table class="table table-user-information">
                      <tbody>
                        <tr>
                          <td>Fakultas:</td>
                          <td><b>{{instance.fakultas}}</b></td>
                        </tr>
                        <tr>
                          <td>Program Studi:</td>
                          <td>{{instance.prodi}}</td>
                        </tr>
                        <tr>
                          <td>NIM :</td>
                          <td>{{instance.nim}}</td>
                        </tr>

                           <tr>
                               <tr>
                          <td>Tanggal Lahir :</td>
                          <td>{{instance.TanggalLahir}}</td>
                        </tr>
                          <tr>
                          <td>Alamat :</td>
                          <td>{{instance.alamat}}</td>
                        </tr>
                        <tr>
                          <!-- <td>Email :</td>
                          <td><a href="mailto:info@support.com">{{email}}</a></td> -->
                        </tr>
                          <td>Phone Number</td>
                          <td>{{instance.telepon}}
                          </td>
                          <tr>
                            <td>Indeks Prestasi Kumulatif :</td>
                            <td>{{instance.ipk}}&nbsp;&nbsp;&nbsp;
                              <button class="btn btn-success btn-sm" data-toggle="modal" data-target="#transkrip"><i class="glyphicon glyphicon-pencil"></i> &nbsp; Periksa</button>
                            </td>

                          </tr>
                          <tr>
                            <td>Penghasilan Orang Tua :</td>
                            <td>{{instance.pot}}&nbsp;&nbsp;&nbsp;
                              <button class="btn btn-success btn-sm" data-toggle="modal" data-target="#pot"><i class="glyphicon glyphicon-pencil"></i> &nbsp; Periksa</button>
                            </td>
                          </tr>
                          <tr>
                            <td>Tanggungan Orang Tua :</td>
                            <td>{{instance.tan}}&nbsp;&nbsp;&nbsp;
                              <button class="btn btn-success btn-sm" data-toggle="modal" data-target="#tan"><i class="glyphicon glyphicon-pencil"></i> &nbsp; Periksa</button>
                            </td>
                          </tr>
                          <tr>
                            <td>Prestasi :</td>
                            {% if instance.pre == 0.55 %}
                            <td>Pasif
                            {%  elif instance.pre == 1.75 %}
                            <td>Regional
                            {%  elif instance.pre == 3.45 %}
                            <td>Nasional
                            {%  elif instance.pre == 5.5 %}
                            <td>Internasional
                            {% endif %}
                            {% if instance.bukti_prestasi %}
                            &nbsp;&nbsp;&nbsp;<button class="btn btn-success btn-sm" data-toggle="modal" data-target="#prestasi"><i class="glyphicon glyphicon-pencil"></i> &nbsp; Periksa</button>
                            {% endif %}
                          </td>
                          </tr>
                          <tr>
                            <td>Organisasi :</td>
                            {% if instance.org == 0.55 %}
                            <td>Pasif
                            {%  elif instance.org == 1.75 %}
                            <td>Regional
                            {%  elif instance.org == 3.45 %}
                            <td>Nasional
                            {%  elif instance.org == 5.5 %}
                            <td>Internasional
                            {% endif %}
                            {% if instance.bukti_organisasi %}
                            &nbsp;&nbsp;&nbsp;<button class="btn btn-success btn-sm" data-toggle="modal" data-target="#organisasi"><i class="glyphicon glyphicon-pencil"></i> &nbsp; Periksa</button>
                            {% else %}
                            {% endif %}
                          </td>
                          </tr>
                        </tr>

                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
                   <div class="panel-footer">
                          {% if instance.valid %}
                          <a type="button" disabled="disabled" class="btn btn-sm btn-primary"><i class="fa fa-check-square"></i>&nbsp;Validasi</a>
                          {% else %}
                          <a href='{% url "dashboard:adm_validasi" id=instance.id %}' type="button" class="btn btn-sm btn-primary"><i class="fa fa-check-square"></i>&nbsp;Validasi</a>

                          {% endif %}
                          <span class="pull-right">
                              <!-- <a href="edit.html" data-original-title="Edit this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-warning"><i class="fa fa-pencil-square-o"></i>&nbsp;Edit</a>
                              <a data-original-title="Remove this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-danger"><i class="fa fa-trash-o"></i>&nbsp;Delete</a> -->
                          </span>
                      </div>

            </div>


            <div class="modal fade" id="transkrip" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
                <div class="modal-dialog">
                <div class="loginmodal-container">
                  <h1>Bukti Transkrip</h1><br>
                  <div class="container-fluid">
                  <img class="img-responsive" src="{{instance.transkrip.url}}" />

                </div>
                </div>
              </div>
              </div>

              <div class="modal fade" id="pot" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
                  <div class="modal-dialog">
                  <div class="loginmodal-container">
                    <h1>Bukti Penghasilan</h1><br>
                    <img class="img-responsive" src="{{instance.bukti_pot.url}}" />
                  </div>
                </div>
                </div>

              <div class="modal fade" id="tan" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
                  <div class="modal-dialog">
                  <div class="loginmodal-container">
                    <h1>Bukti Tanggungan</h1><br>
                    <img class="img-responsive" src="{{instance.bukti_tan.url}}" />
                  </div>
                </div>
                </div>
                {% if instance.bukti_prestasi %}
              <div class="modal fade" id="prestasi" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
                  <div class="modal-dialog">
                  <div class="loginmodal-container">
                    <h1>Bukti Prestasi</h1><br>
                    <img class="img-responsive" src="{{instance.bukti_prestasi.url}}" />
                  </div>
                </div>
                </div>
                {% endif %}
                {% if instance.bukti_organisasi %}
                <div class="modal fade" id="organisasi" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
                    <div class="modal-dialog">
                    <div class="loginmodal-container">
                      <h1>Bukti Organisasi</h1><br>
                      <img class="img-responsive" src="{{instance.bukti_organisasi.url}}" />
                    </div>
                  </div>
                  </div>
                {% endif %}
{% endblock content %}
