@font-face {
    font-family: 'RobotoLight';
    src: url('../fonts/Roboto-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'RobotoRegular';
    src: url('../fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'WorkSansLight';
    src: url('../fonts/WorkSans-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'WorkSans';
    src: url('../fonts/WorkSans-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'WorkSansThin';
    src: url('../fonts/WorkSans-Thin.ttf') format('truetype');
}

html, body {
    font-family: "RobotoRegular", sans-serif;
    height: 100% !important;
    margin: 0 !important;
    background-repeat: no-repeat !important;
    background-attachment: fixed;
    background-color: white;
}

.navbar {
    height: 58px !important;
    z-index: 1030;
    margin-bottom: 20px !important;
    background-color: #2196F3;
    border-width: 0px;
    border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    padding-right: 55px;
    padding-left: 20px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.navbar-brand {
    float: left;
    height: 50px;
    padding: 9px 5px 0 56px;
    font-size: 18px;
    line-height: 8px;
}
@media (max-width: 778px) {
    .navbar {
        background-color: #2196F3;
        border-width: 0px;
        border-radius: 0 !important;
        -moz-border-radius: 0 !important;
        padding-right: 13px;
        padding-left: 25px;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    }

    .navbar-brand {
        padding: 10px 5px 0 5px;
    }
}



.navbar-toggle > a > i{
    color: #E0E0E0;

}
.btn-navbar,.btn-navbar:hover,.btn-navbar:focus {
    color: #E0E0E0;
    background-color: transparent !important;
    border-color: transparent !important;
}
.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
    outline: transparent;
}
.fa-signout-custom{
  margin-top: 5px;
  font-size: 35px;
}

.navbar-nav> li> a {
    padding-top: 32px;
    padding-bottom: 15px;
}

.container-navbar-landing {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.jumbotron {
    background-color: transparent;
    margin-left: 0px;
    margin-right: 0px;
}

.jumbotron h1{
    color: white;
    font-weight: 600 !important;
    font-family: 'WorkSansLight' !important;
}

.jumbotron p{
  color : white;
  font-weight: lighter !important;
  font-family: 'WorkSansLight' !important;
}

#bold {
    font-family: 'WorkSans' !important;
}


#footer {
    font-family: "WorkSans";
    color: white;
    font-size: 12px;
    float: right;
    padding-right: 25px;
}
